	<script src="/public/third_party/jquery/jquery.slim.min.js"></script>
	<script src="/public/third_party/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/public/third_party/bootstrap/js/bootstrap-show-password.min.js"></script>
</body>
</html>